<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>editBoard</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/editboard.css" />
  </head>
  <body>
    <div class="wrapper">
      <!-- 헤더 만들기 -->
      <div class="shopHeader"><%- include('header.ejs') %></div>
      <!-- 본문 시작 -->
      <div class="contentWrapBox">
        <div class="addBox">
          <div class="boardPostText"><p>게시물 수정</p></div>
          <div class="formBox">
            <form name="formName" method="post" enctype="multipart/form-data">
              <div class="nameBox formBoxdiv">
                <div class="inputBox">
                  <input
                    placeholder="제목을 입력해 주세요."
                    id="boardPostName"
                    name="boardPostName"
                    value="<%= post.title %>"
                    required
                  />
                  <div class="nameText"></div>
                </div>
              </div>
              <!-- 상품 타입 선택 -->
              <div class="formBoxdiv">
                <div class="inputBox typebox">
                  <select id="typeSelect" name="boardType">
                    <option value="" disabled selected>
                      게시판을 선택해주세요.
                    </option>
                    <option value="JENNIE COLLAB" <%= post.category_id === 'JENNIE COLLAB' ? 'selected' : '' %>>JENNIE COLLAB</option>
                    <option value="NEWJEANS COLLAB" <%= post.category_id === 'NEWJEANS COLLAB' ? 'selected' : '' %>>NEWJEANS COLLAB</option>
                    <option value="SINSA" <%= post.category_id === 'SINSA' ? 'selected' : '' %>>SINSA</option>
                    <option value="BIRTH" <%= post.category_id === 'BIRTH' ? 'selected' : '' %>>BIRTH</option>
                    <option value="PURPOSE" <%= post.category_id === 'PURPOSE' ? 'selected' : '' %>>PURPOSE</option>
                  </select>
                </div>
                <div class="typeText"></div>
              </div>
              <!-- toast editer -->
              <div class="contentBox formBoxdiv">
                <div class="textareaBox">
                  <div id="toastEditor"></div>
                  <div class="contentText"></div>
                </div>
              </div>

              <!-- 이미지 업로드 -->
              <div class="formBoxdiv">
                <div class="labelBox">
                  <label for="mainBoardImage">게시글 메인 이미지 수정</label>
                </div>
                <input
                  type="file"
                  name="mainBoardImage"
                  id="mainBoardImage"
                  accept="image/*"
                  required
                />
                <div class="imgRightBox">
                  <div class="imgRightInBox">
                    <div id="imgpreviewbox">
                      <img
                        id="previewImg"
                        src="<%= post.mainimage %>"
                        alt="preview"
                      />
                    </div>
                  </div>
                  <div class="imageupText"></div>
                </div>
              </div>

              <!-- 버튼 -->
              <div class="editBoardBtnWrap">
                <button
                  type="submit"
                  id="editBoardBtn"
                  class="editBoardBtn"
                  onclick="editData(event)"
                >
                  저장
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <input type="hidden" name="postId" value="<%= post.id %>" />
      <!-- 푸터 -->
      <div class="my_footer"><%- include('footer.ejs') %></div>
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/editboard.js"></script>
  </body>
</html>
